<div *ngIf="isAdmin; else noContent">
  <main>
    <h2>Blog</h2>
    <div class="container">
      <h3>Ajouter un nouvel article</h3>
      <form (ngSubmit)="createArticle(newArticle)">
        <div>
          <label for="title">Titre</label>
          <input
            id="title"
            type="text"
            [(ngModel)]="newArticle.title"
            name="title"
            required
          />
        </div>
        <div>
          <label for="content">Contenu</label>
          <textarea
            id="content"
            [(ngModel)]="newArticle.content"
            name="content"
            required
          ></textarea>
        </div>
        <button type="submit">Ajouter</button>
      </form>

      <h3>Liste des articles</h3>
      <div *ngFor="let article of articles">
        <h4>{{ article.title }}</h4>
        <p>{{ article.content }}</p>
        <hr />
      </div>
    </div>
  </main>
</div>
<ng-template #noContent>
  <main><p>Les droits d'admin ou utilisateurs sont requis</p></main>
</ng-template>
